body{
	background-color: LightBlue;

}

h1{
	color: navy;
	text-align:center;

}

img.image1{
display: block;
margin-left: auto;
margin-right: auto;
height="30";
width="30";
}
p.login{
	color:navy;

}
p.register{
	color:navy;

}

p.whoare{
	color:navy;
	text-align:right;
}

a.article{

	
}

p.commentheader{

color:navy;
text-align:center;
}